*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background: linear-gradient(darkblue, lightblue);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    
}

.container{
    width: 40%;
    margin: 20% auto;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    background: darkblue;
    color: white;
}
#main-heding{
    font-size: 35px;
    
}
.list-items{
    color: darkblue;
    background: white;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    margin: 5px;
}